<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USER_PASSWORD</key>
	<dict>
		<key>eks_qa</key>
		<string>wg12345</string>
		<key>staging_dx</key>
		<string>carro123</string>
	</dict>
	<key>USER_ACCOUNT</key>
	<string>yaohui200@carro.co</string>
	<key>App</key>
	<string>core</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.840863686043-k6v280bnipg23r6k6tdb5ms37hlmihgd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>carro-expensify</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
